/GoApplication/SuGoodApp/build
/GoApplication/SuGoodApp/gen
/GoApplication/SuGoodApp/bin
/GoApplication/app
/GoApplication/SuGoodApp/release
/GoApplication/SuGoodApp/*.apk
/GoApplication/SuGoodApp/SuGoodApp-release.apk
/GoApplication/SuGoodApp/SuGoodApp-release2.1.apk
/GoApplication/SuGoodApp/proguard-rules.pro
/banner
/GoApplication/projectFilesBackup
